<div class="row">
  <div class="col-xl-12">

    <div class="row" style="padding-top: 20px; text-align: center;">
      <div class="col-xl-12">

        <h1>Welcome to Feedback Application!</h1>

      </div>
    </div>

    <br>




    <div class="row"
         style="padding-top: 30px; text-align: center; font-weight: bold; font-size: 17px;"
         *ngIf="posts.length === 0; else postsExist">
      <div class="col-xl-12">

        No posts available!

      </div>
    </div>

    <ng-template #postsExist>

      <div class="row" style="padding-top: 30px"
      >
        <div class="offset-xl-1 col-xl-10"
             style="padding: 10px; border-radius: 4px">



          <div
             style="
             padding-bottom: 10px;
             padding-top: 10px;
             font-weight: 500;
             border-bottom: thin solid #e2e2e2"
               *ngFor="let post of posts;">

            <div class="row">
              <div class="col-xl-3">
                {{ post.Title }}
              </div>

              <div class="col-xl-3">
                {{ post.AppUser.Name }}
              </div>

              <div class="col-xl-3">
                {{ post.CreatedDate }}
              </div>

              <div class="col-xl-3">
                {{ post.Comments.length }} <span *ngIf="post.Comments.length === 1; else multipleComments">Comment</span> <ng-template #multipleComments>Comments</ng-template>
              </div>
            </div>

            <br>

              <div class="row"
                   style="color: #008bb8;"
                   *ngFor="let comment of post.Comments">

                <div class="col-xl-3">
                  {{ comment.Title }}
                </div>

                <div class="col-xl-3">
                  {{ comment.AppUser.Name }}
                </div>

                <div class="col-xl-3">
                  {{ formatCommentDate(comment.CreatedDate) }}
                </div>

                <div class="col-xl-1">
                  ▲ {{ comment.Reaction.Like }}
                </div>

                <div class="col-xl-1">
                  ▼ {{ comment.Reaction.Dislike }}
                </div>

              </div>





          </div>

        </div>
      </div>

    </ng-template>

  </div>
</div>
